@using GServer.MusicDL;
@using YoutubeExplode;
@using Microsoft.AspNetCore.Http;

@inject SongDownloadManagerClass DLManager;

<h3>Download Audio From Youtube</h3>
@if (this.TaggedSong != null)
{
    <p style="line-height:0.7">Song: @this.TaggedSong.Name</p>
    <p style="line-height:0.7">Artist: @this.TaggedSong.ArtistsNameString</p>
    <p style="line-height:0.7">Album: @this.TaggedSong.Releases[this.TaggedSongReleaseIndex].Name</p>
    <p style="line-height:0.7">Duration: @this.TaggedSong.Duration</p>
}

<button class="btn btn-primary" @onclick="@(async () => await onDLButtonClick(this.Link))">Download From Link</button>
Download Link:
<input type="text" placeholder="Link" @bind="Link" />
<br />


@if (this.TaggedSong == null)
{
    <p>Title:<input type="text" placeholder="Title" @bind="Title" /><br /></p>
    <p>Artist: <input type="text" placeholder="Artist" @bind="Artist" /><br /></p>
}
else
{
    <button class="btn btn-primary" @onclick="@(async () => await AutoSearch())">Auto Search</button>
}

@if (Status != "")
{
    <p> Status: @Status </p>
}


@if (Link != "")
{
    <iframe width="420" height="315"
            src=@YoutubeVideo.EmbedLink(Link)>
    </iframe>
}

<div style="border-width:thick;border-style:hidden">
    @if (SearchedVids?.Count > 0)
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Duration</th>
                    <th>Video</th>
                </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < SearchedVids.Count; i++)
                {
                    var vid = SearchedVids[i];
                    var local_index = i; //needed or else onclick won't grab the correct index
                    <tr>
                        <td>
                            <p>@vid.Title</p>
                            <button class="btn btn-primary" @onclick="@(async () => await onDLButtonClick(YoutubeVideo.LinkFromID(vid.Id)))">Download</button>

                        </td>
                        <td>@vid.Duration.ToString()</td>
                        <td>
                            <iframe width="150" height="150"
                                    src=@YoutubeVideo.EmbedLink(YoutubeVideo.LinkFromID(vid.Id))>
                            </iframe>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    }
</div>







@code {
    [Parameter]
    public Song TaggedSong { get; set; } = null;
    [Parameter]
    public int TaggedSongReleaseIndex { get; set; }

    private string Link { get; set; } = "";
    private string Artist { get; set; } = "";
    private string Title { get; set; } = "";

    private string Status { get; set; } = "";

    private IReadOnlyList<YoutubeExplode.Models.Video> SearchedVids { get; set; }

    [Inject]
    private IHttpContextAccessor _context { get; set; } = default!; //allows component to get current username


    private async Task AutoSearch()
    {
        string searchQuery = TaggedSong.ArtistsNameString + " - " + TaggedSong.Name; //search query for youtube

        var client = new YoutubeClient();
        SearchedVids = await client.SearchVideosAsync(searchQuery, 1);
    }

    private async Task onDLButtonClick(string link)
    {
        try
        {
            if (link == "")
            {
                Status = "No link specified";
                return;
            }

            var userName = _context.HttpContext.User.Identity.Name; //get current user name
            await DLManager.AddDownload(new YoutubeVideoDL(userName, link, TaggedSong, TaggedSongReleaseIndex));
        }
        catch (Exception ex)
        {
            Status = "Download Error: " + ex.ToString();
        }
    }

}
